.catalog {
  width: calc(100% - 310px);
  position: absolute;
  left: 310px;
}
.catalog__list {
  padding: 15px;
  margin: 0 !important;
  overflow-y: scroll;
  height: calc(100vh - 123px);
}
@media screen and (max-width: 1070px) {
  .catalog {
    width: calc(100% - 257px);
    position: absolute;
    left: 257px;
  }
}
