.cart_wrapper {
  width: calc(100% - 53px);
  position: absolute;
  left: 53px;
  top: 76px;
  display: flex;
  justify-content: center;
  font-family: "Roboto";
}
.cart_prpducts {
  width: 95%;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%);
  padding: 0 0 30px 0;
  margin-top: 30px;
}
