.cart__header {
  position: absolute;
  width: calc(100% - 133px);
  height: 76px;
  left: 53px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 30px;
  border-bottom: 1px #dde3ee solid;
  font-family: "Roboto";
}
