.catalog_header-bottom-wrapper {
  width: calc(100% - 50px);
  height: 47px;
  padding-left: 50px;
  border-bottom: 1px #e3e3e9 solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalog_header-bottom {
  height: 100%;
  width: 290px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.catalog_header-bottom-select-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.catalog_header-bottom-select-icon {
  width: 13px;
  height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.catalog_header-bottom-select-icon-line-1 {
  width: 100%;
  height: 2px;
  background-color: #a8a4a4;
}
.catalog_header-bottom-select-icon-line-2 {
  width: 80%;
  height: 2px;
  background-color: #a8a4a4;
}
.catalog_header-bottom-select-icon-line-3 {
  width: 55%;
  height: 2px;
  background-color: #a8a4a4;
}
.catalog_header-bottom-select-wrapper p {
  color: #a8a4a4;
}
.catalog_header-bottom-select {
  border: none;
  font-size: 16px;
  width: auto;
  color: #a8a4a4;
  outline: none;
}
.addButtonActive {
  background-color: #61d5df;
  outline: none;
  border: none;
  border-radius: 4px;
  height: 35px;
  width: 150px;
  color: white;
  font-family: "Roboto";
  font-weight: bold;
  margin-right: 100px;
  cursor: pointer;
}
.addButton {
  display: none;
}
.modal_wrapper-active {
  width: 100%;
  height: calc(100vh - 123px);
  margin-top: 6px;
  position: absolute;
  left: 0;
  background-color: rgba(77, 78, 86, 0.4);
  display: flex;
  justify-content: center;
  z-index: 6;
}
.modal_open {
  display: none;
}
.add_modal {
  margin-top: 100px;
  width: 450px;
  height: 600px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #e4e5ec;
  background-color: white;
  border: 1px #61d5df solid;
  border-radius: 10px;
}
.add_form-input {
  width: 100%;
  height: 35px;
  border: 1px #61d5df solid;
  border-radius: 4px;
}
.form_title {
  font-size: 20px;
  font-weight: 700;
  font-family: "Roboto";
  color: #61d5df;
}
.form_inputs-wrapper {
  width: 70%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.form_label {
  color: #61d5df;
}
.form_submit {
  width: 150px;
  height: 40px;
  background-color: #61d5df;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 700;
  cursor: pointer;
}
