.cart__item-wrapper {
  width: calc(100% - 100px);
  border-bottom: 1px #dde3ee solid;
  padding: 0 50px 0 50px;
}
.cartItem {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
}
.cart__item-description {
  width: 400px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart__item-description img {
  height: 90%;
  width: 40%;
}
.cart__item-description p {
  width: 40%;
}
.cart__item-quantity-wraaper {
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
}
.cart__item-cost {
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
}
.cart__item-delete {
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
}
.delete__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 4px;
}
.delete__button:hover {
  background-color: #ffcdd2;
}
