.cart_product-header {
  width: 100%;
  height: 60px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 6%);
  display: flex;
  align-items: center;
}
.cart_product-nav {
  width: 100%;
}
.cart_product-ul {
  width: 71%;
  display: flex;
  justify-content: space-between;
  padding: 0 50px 0 50px;
}
.cart_product-description-li {
  width: 400px;
}
