.MuiPaper-root {
  margin-top: 60px !important;
  background-color: rgba(36, 41, 62, 0.8) !important;
  padding-bottom: 30px !important;
}
.MuiList-root {
  width: 95% !important;
  height: 90% !important;
  background-color: #212529 !important;
}
.makeStyles-fullList-1 {
  width: 100% !important;
  height: 80% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.MuiBackdrop-root {
  background-color: rgba(36, 41, 62, 0) !important;
}
.MuiButtonBase-root {
  border-bottom: 1px #3e3e3e solid !important;
}
.MuiListItemText-root {
  margin: 0 !important;
}
.MuiTypography-root {
  color: #364a75;
}
