.header_wrapper {
  width: 100%;
  height: 75px;
}
.header {
  height: 100%;
  display: flex;
  padding-left: 50px;
  padding-right: 100px;
  background-color: #f8f9fa;
}
.header_left {
  height: 100%;
  width: 420px;
  min-width: 334px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_selectAll-button {
  background-color: #61d5df;
  border: none;
  border-radius: 5px;
  height: 32px;
  width: 95px;
  font-weight: 900;
  font-size: 12px;
  color: white;
  text-align: center;
  cursor: pointer;
}
.clear__wrapper {
  height: 32px;
  width: 60px;
}
.header_clear-button {
  background-color: #61d5df;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  font-weight: 900;
  font-size: 12px;
  color: white;
  text-align: center;
  cursor: pointer;
}
.header_clear-button-none {
  display: none;
}
.header_left-line {
  height: 23px;
  width: 1px;
  background-color: #dbdcdc;
}
.selected_p {
  font-size: 12px;
}
.all_products_p {
  font-size: 12px;
}
.selected_items-wrapper {
  display: flex;
  justify-content: space-evenly;
}
.header_right {
  width: calc(100% - 322px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.search_input-wrapper {
  height: 38px;
  width: 480px;
}
.search_input-div {
  height: 38px;
  width: 100%;
  position: relative;
}
.search_input {
  width: 100%;
  height: 100%;
  border: 1px #efeff1 solid;
  border-radius: 13px;
  padding: 0;
  margin: 0;
  outline: none;
}
.search_button {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 0;
  background-color: transparent;
  border: none;
  transform: rotate(95deg);
  left: 92%;
  cursor: pointer;
}
.search_button img {
  max-width: 70%;
}

.header_inventory-button {
  background-color: #61d5df;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 150px;
  font-weight: 900;
  font-size: 12px;
  color: white;
  text-align: center;
  margin-left: 10px;
  cursor: pointer;
}
.help_button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-weight: 900;
  text-align: center;
  border: 2px #49547d solid;
  color: #49547d;
  background-color: white;
  margin-left: 10px;
  cursor: pointer;
}
.help_button:hover {
  box-shadow: 0px 0px 8px;
}
.MuiButtonBase-root {
  border-bottom: none !important;
}
.MuiPaper-root {
  margin-top: 0 !important;
  background-color: white !important;
  width: 200px;
}
.MuiList-root {
  background-color: white !important;
  width: 100% !important;
}
.burger_nav {
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.burger_ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 30px;
  width: 100%;
  height: 85%;
}
.burger_ul li {
  width: 30%;
  margin-left: 35%;
}

.burger_logo {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px #e3e3e9 solid;
}
.burger_logo img {
  width: 60px;
}

@media screen and (max-width: 1460px) {
  .search_input-wrapper {
    height: 38px;
    width: 420px;
  }
}
@media screen and (max-width: 1400px) {
  .search_input-wrapper {
    height: 38px;
    width: 420px;
    margin-left: 20px;
  }
  .search_button {
    left: 88%;
  }
  .header_right {
    width: calc(100% - 300px);
  }
  .header {
    height: 100%;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #f8f9fa;
  }
  .header_inventory-button {
    min-width: 146px;
  }
}
@media screen and (max-width: 1250px) {
  .search_button {
    left: 84%;
  }
}
@media screen and (max-width: 1180px) {
  .search_button {
    left: 87%;
  }
  .selected_p {
    font-size: 12px;
    display: none;
  }
  .header_left {
    min-width: 240px;
  }
  .header_right {
    width: calc(100% - 240px);
  }
}

@media screen and (max-width: 1070px) {
  .header {
    padding-left: 10px;
    padding-right: 20px;
  }
  .header_selectAll-button{
    display: none
  }
  .header_left {
    min-width: 150px !important;
  }
  .header_right {
    width: calc(100% - 150px);
  }
  .header_left-line{
    display: none;
  }
} 


