.aside_nav {
  width: 53px;
  height: 100vh;
  border-right: 1px #dde3ee solid;
  position: fixed;
}
.aside_ul {
  width: 100%;
  height: 427px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 25px;
}
.aside_logo {
  width: 100%;
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px #dde3ee solid;
}
.aside_logo img {
  width: 80%;
}
.profile_icon {
  width: 100%;
  display: flex;
  justify-content: center;
}
.profile_icon img {
  width: 50%;
  border-radius: 50%;
  border: 1px #61d5df double;
}
.aside_icon {
  width: 100%;
  display: flex;
  justify-content: center;
}
.aside_icon img {
  max-width: 32%;
}

@media screen and (max-width: 1070px) {
  .aside_nav {
    display: none;
  }
}
