.catalog__prod {
  background-color: white;
  border: 1px solid #e4e5ec;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  height: 451px;
}
.catalog__prod:hover {
  border-color: #61d5df;
}
.catalog__prod-active {
  background-color: white;
  border: 1px solid #e4e5ec;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  height: 451px;
  border-color: #61d5df;
}

.catalog__title {
  width: 95%;
  padding-left: 5%;
  height: 40px;
  display: flex;
  align-items: center;
  color: #2b2727;
}
.prod-line {
  width: 1px;
  height: 15px;
  background-color: #a8a4a4;
  margin-top: 15px;
}
.catalog__price {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80px;
}
.catalog__prices {
  width: 95%;
  height: 50px;
  display: flex;
  justify-content: space-around;
}
.item_buttons {
  width: 90%;
  height: 40px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalog__item-button {
  background-color: #61d5df;
  outline: none;
  border: none;
  width: 140px;
  height: 35px;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  display: none;
}
.catalog__item-button-static {
  display: none;
}
.catalog__prod:hover .catalog__item-button {
  display: block;
}
.admin_buttons-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100px;
  display: none;
  margin-right: -80px;
}
.catalog__prod:hover .admin_buttons-wrapper {
  display: flex;
}
.admin_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
#alert-dialog-title {
  color: white !important;
}
.price-number {
  color: #777777;
}
.price-p {
  color: #a8a4a4;
}
.catalog__prod-profit {
  color: #61d5df;
}
.catalog__img {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog__img img {
  max-width: 80%;
  max-height: 90%;
}
.prod-wrapper {
  border-radius: 8px;
  position: relative;
  min-height: 473px;
}
.prod-checkbox {
  width: 18px;
  height: 18px;
  cursor: pointer;
  border-radius: 5px;
}
.prices {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.edit_modal_wrapper-active {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: -16px;
  left: 0;
  width: 100%;
  height: calc(100vh - 123px);
  background-color: rgba(77, 78, 86, 0.4);
  z-index: 5;
  overflow-y: scroll;
}
.edit_add_modal {
  margin-top: 100px;
  width: 450px;
  height: 600px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #e4e5ec;
  background-color: white;
  border: 1px #61d5df solid;
  border-radius: 10px;
}
.product_modal-active {
  position: absolute;
  display: flex;
  justify-content: center;
  left: -310px;
  top: 0;
  width: calc(100% + 310px);
  height: 100%;
  background-color: rgba(77, 78, 86, 0.2);
  z-index: 5;
}

@media screen and (max-height: 800px) {
  .edit_add_modal {
    width: 400px;
    height: 500px;
    margin-top: 50px;
  }
}
@media screen and (max-height: 676px) {
  .edit_add_modal {
    width: 350px;
    height: 450px;
    margin-top: 50px;
    margin-top: 20px;
  }
}
