.loadingGif__wrapper {
  max-width: 1163px;
  width: 100%;
  height: 691px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.modal__wrapper {
  max-width: 1163px;
  width: 100%;
  height: 691px;
  display: flex;
  flex-direction: row;
  background-color: white;
}
.modal__wrapper--hide {
  display: none;
}
.productModal__closeIcon {
  width: 15px;
  height: 15px;
  margin: 10px 10px 0 0;
}
.modal__leftSide {
  width: 419px;
  height: auto;
  margin: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.modal__image {
  width: 335px;
  height: 335px;
  object-fit: contain;
}
.modal__image--small {
  width: 72px;
  height: 72px;
  object-fit: contain;
  margin-top: 20px;
}
.modal__rightSide {
  width: 656px;
  margin: 50px 40px;
  display: flex;
  flex-direction: column;
}
.modal__itemId {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal__supplier {
  width: 100%;
  height: 18px;
  color: hsl(0deg 0% 44%);
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.63;
  display: flex;
  justify-content: flex-end;
}
.modal__supplier a {
  color: hsl(185deg 53% 57%);
  line-height: 1.63;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 16px;
}
.modal_inventory-button{
  width: 272px;
  height: 43px;
  outline: none;
  border: none;
  background-color: #61D5DF ;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}
.modal__itemCode {
  width: 100%;
  font-family: "Poppins", sans-serif;
  line-height: 1.63;
  color: hsl(0deg 0% 44% / 70%);
  font-size: 16px;
}
.modal__itemTitle {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.09;
  text-align: left;
  color: hsl(0deg 0% 23%);
  margin: 20px 0 30px 0;
  word-wrap: break-word;
}
.modal__buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.modal__infoWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.modal__infoWrapper span {
  width: fit-content;
  font-family: "Poppins", sans-serif;
  color: hsl(0deg 0% 38%);
  border-bottom: 1px solid hsl(0deg 0% 23%);
  font-size: 18px;
  font-weight: 600;
  margin: 0 68px 0 0;
  padding: 0 15px 20px 15px;
}
.modal__description {
  margin: 15px 15px 0 0;
  font-size: 16px;
  line-height: 1.63;
  text-align: left;
  color: hsl(0deg 0% 44%);
  word-wrap: break-word;
}
.loadingGifModal--show {
  display: flex;
}
