.landing-wrapper {
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
.landing__header {
  width: 100%;
  height: 60px;
  background-color: rgba(36, 41, 62, 0.8) !important;
  position: fixed;
  z-index: 3;
}
.landing__header-nav {
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.landing__header-ul {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.landing__header-li {
  height: 100%;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  outline: none !important;
  color: white;
  cursor: pointer;
}
.landing__header-li:hover {
  color: #61d5df;
}
.landing__header-logo {
  width: 70px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -3.2%;
}
.landing-main {
  width: 100%;
  height: 100%;
  background-image: url(../../assets/background.png);
  background-size: cover;
}
.landing-banner-wrapper {
  width: 100%;
  height: 450px;
  top: 30%;
  position: absolute;
}
.landing-banner {
  background-color: rgba(36, 41, 62, 0.8);
  width: 100%;
  height: 80%;
}
.landing-content {
  width: 70%;
  height: 90%;
  left: 15%;
  position: absolute;
}
.landing-text {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landing-banner-p {
  font-size: 40px;
  color: white;
  font-weight: 700;
}
.landing-banner-logo {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing__banner_button-wrapper {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing_login-form {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.landing_login-input {
  height: 40px;
  width: 300px;
}
.landing_login-form-img {
  width: 70px;
}
.landing_login-form-img img {
  max-width: 100%;
}
.landing_login-form-header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.landing_login-form-p {
  font-size: 23px;
}
.MuiButtonBase-root {
  border-bottom: 1px #61d5df solid !important;
}
@media screen and (max-width: 1300px) {
  .landing__header-ul {
    width: 60%;
  }
}
@media screen and (max-width: 1050px) {
  .landing-banner-p {
    font-size: 30px;
  }
  .landing__header-ul {
    width: 75%;
  }
  .landing__header-logo {
    margin-left: 0;
  }
  .landing-banner {
    height: 70%;
  }
}
@media screen and (max-width: 880px) {
  .landing__header-ul {
    display: none;
  }
  .landing__header-nav {
    justify-content: space-between;
  }
  .landing__header-logo {
    margin-left: 5%;
  }
  .landing-banner {
    width: 100%;
  }
  .landing-content {
    width: 90%;
    left: 5%;
  }
}
@media screen and (max-width: 650px) {
  .landing-banner-logo {
    height: 40%;
  }
  .landing-banner-logo img {
    max-height: 80%;
  }
  .landing-content {
    height: 350px;
  }
  .landing-text {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .landing-banner-p {
    font-size: 25px;
  }
  .landing-banner-wrapper {
    height: 60vh;
  }
}
@media screen and (max-width: 520px) {
  .landing-banner-p {
    font-size: 20px;
  }
  .landing-banner-logo img {
    max-height: 70%;
  }
  .landing-content {
    height: 270px;
  }
}
@media screen and (max-width: 430px) {
  .landing-banner-p {
    font-size: 16px;
  }
  .landing-banner-logo img {
    max-height: 60%;
  }
  .landing-content {
    height: 220px;
  }
  .landing-content {
    width: 100%;
    left: 0;
  }
}
