.sidebar_wrapper {
  width: 257px;
  height: 100vh;
  background-color: #ecedf5;
  position: fixed;
  left: 53px;
}
.sidebar_top {
  width: 100%;
  height: 104px;
}
.dropdown_niche {
  width: 100%;
  height: 50%;
  background-color: #5d6b9f;
  display: flex;
  align-items: center;
}
.dropdown_categories {
  width: 100%;
  height: 50%;
  background-color: #9da9d5;
  display: flex;
  align-items: center;
}
.sidebar-bottom-wrapper {
  width: 100%;
  height: 430px;
  display: flex;
  justify-content: center;
}
.sidebar-bottom {
  width: 232px;
  height: 430px;
}
.dropdown_categories-p {
  color: white;
  width: 90%;
  margin-left: 10%;
}
.sidebar-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.dropdown_ship {
  width: 100%;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.dropdown_ship p {
  width: 90%;
  margin-left: 10%;
}
.price_div {
  width: 100%;
  height: 26px;
  display: flex;
  justify-content: space-between;
}
.min_price {
  width: 71px;
  display: flex;
  justify-content: space-between;
}
.max_price {
  width: 71px;
  display: flex;
  justify-content: space-between;
}
.price_valute {
  height: 100%;
  width: 20px;
  color: #bec4c6;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.price_value {
  height: 100%;
  width: 50px;
  color: #65737e;
  background-color: white;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1070px) {
  .sidebar_wrapper {
    left: 0px;
  }
}
