.profile__header {
  width: 100%;
  height: 76px;
  border-bottom: 1px #dde3ee solid;
  padding: 0;
  display: flex;
  align-items: center;
}
.sub_header {
  width: 100%;
  padding-left: 50px;
  padding-right: 30px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile__title-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}
.profile_title {
  font-weight: 700;
  color: #5c637a;
}
.profile_buttons_wrapper {
  width: 230px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile__sign-out {
  height: 100%;
  width: 132px;
  background-color: #e6eefc;
  color: #4785ef;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  font-family: "Roboto";
  cursor: pointer;
}
