.profile_section {
  width: calc(100% - 100px);
  margin: 21px 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%);
  background-color: #fefefe;
}
.profile__section-header {
  height: 64px;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 6%);
}
.profile__section-nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile__section-ul {
  height: 100%;
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  color: #49506a;
}
.profile_deactivate {
  width: 186px;
  height: 44px;
  color: #ff7b7b;
  background: #fff1f1;
  border: none;
  outline: none;
  border-radius: 4px;
  margin-right: 50px;
  font-weight: 700;
}
.profile_main-section-title {
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
  color: #5c637a;
}
.profile_section-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 30px;
  width: 70%;
}
.profile_main-section {
  width: 520px;
  height: 300px;
  display: flex;
  flex-direction: column;
}
.profile_main-content {
  width: 100%;
  height: 268px;
  border: 1px solid #f9fbfe;
  background-color: #f9fbfe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.profile_pricture_div img {
  border-radius: 50%;
  height: 145px;
  width: 145px;
}
.profile_pricture_div {
  height: 155px;
  width: 155px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 5px #61d5df solid;
}
.upload__button {
  border: none;
  border-radius: 4px;
  background-color: #61d5df;
  width: 160px;
  height: 40px;
  font-size: 20px;
  color: white;
}
.password_form {
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.form-input {
  height: 35px;
  border: 1px #dbe0f3 solid;
  border-radius: 4px;
}
.form_label {
  color: #404966;
}
